body {
    font-family: Courier New;
    background-color: paleturquoise;
}

#form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-item {
    padding: 10px;
}

#delete-all {
    margin-top: 10px;
}

#attraction-list {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 2fr 2fr 2fr; 
    list-style-type: none;
}

.attraction-list-item {
    border: 1.5px solid black;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    border-radius: 3%;
    background: teal;
}

header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

img {
    border-radius: 50%;
    width: 100px;
    margin-left: 50px;
}